@model List<CoffeeShopProject.Models.ShowCartItem>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" style="margin-top:50px">
    <h2>ShowOrderList</h2>

    <div class="container">

        <table class=" table">
           <tr>
               <td>Title</td>
               <td>Category</td>
               <td>Item</td>
               <td>Price</td>
               <td>Status</td>
               <td>Customer</td>
           </tr>
             @foreach (var item in Model)
        {
             <tr>
                <td>@item.Title</td>
                <td>@item.Category</td>
                <td><img src="@Url.Content(item.Path)" /></td>
                <td>@item.Price</td>
                <td>@item.Status</td>
                <td>@item.Email</td>
             </tr>
            }
    </table>

    </div>

</div>